@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    max-width: 1440px;
    margin: 0 auto;
}

/*Common Shared*/
.title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.paragraph {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 1.4rem;
}

.primary-text-color{
    color: #E95A08;
}
.secondary-text-color{
    color: rgba(0, 0, 0, 0.5);
}
.display-flex{
    display: flex;
}
.btn{
    background-color: #E95A08;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color:#b84402;
}
/*Header*/
/*Navbar*/
header{
    margin-top: 20px;
    margin-bottom: 100px;
}
nav{
    
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    width: 500px;
    font-size: 1rem;
    justify-content:space-between;
    align-items: center;
}
nav li{
    list-style: none;
}
.home{
    font-weight: 800;
}
.cart{
    align-items: center;
}
/*Banner*/
.banner-title{
    font-size: 4rem;
}
.banner{
    justify-content: space-between;
    margin-top: 150px;
}
.banner-des{
    font-size: 1.4rem;
}

/*Main*/
main section{
    margin: 30px 0;
}
/*----OurPlant---*/
.plant-title{
    font-size: 3rem;
}
.plant-info{
    text-align: center;
    margin-bottom: 50px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card-item{
    border: none;
    width: 270px;
    height: 480px;
    margin-bottom: 30px;

}
.card-item img{
    width: 100%;
    
}
.price{

}
/*Small Device*/
@media screen {
    
}